@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <img src="doWebu.jpg"/>
</p>
@* <script type="text/javascript"> *@
@*     setInterval(function() { *@
@*         var myImageElement = document.getElementById('myImage'); *@
@*         myImageElement.src = 'doWebu.jpg'; *@
@*     }, 500); *@
@* </script> *@